<!DOCTYPE html>
<html>
<head>
    <title>Transaction Sorter - @ViewData["Title"]</title>
</head>
<body>
    <header>
        <div></div>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2020 - Transaction Sorter
        </div>
    </footer>
    <script src="~/js/bundle.js"></script>
</body>
</html>
